.ant-tabs-nav-wrap{
    justify-content: space-evenly;
}

.ant-tabs-tab-btn{
    color: #000048 !important;
}

.verticalNavbar{
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 20%;
    background: #ECF8F9;
}

.navItems{
    margin: 1vh;
    padding: 1vh;
}

.navItems:hover{
    background: #000048;
    border-radius: 2vh;
}

.navItems:hover a{
    color: white;
}

.navItems a{
    text-decoration: none;
    color: black;

}

.active{text-decoration: underline;}

.footer{
    position: absolute;
    bottom: 0;
    margin-bottom: 5vh;
    width: 16%;
}

.footer button{
    width: 80%;
}

